
.Login {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Login__Frame {
  min-width: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}